body {
  display: block;
  margin: 0;
  padding: 0;
}

#home {
  display: flex;
}

#home_img-container {
  display: flex;
  justify-content: center;
  background-color: #F5F5F5;
  width: 55%;
  height: 100vh;
}

#home_background {
  position: absolute;
  height: 90vh;
  bottom: 0;
  margin-bottom: 1rem
}

#login {
  display: flex;
  width: 45%;
  justify-content: center;
  align-items: center;
}

#login_container {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login_logo {
  height: 4rem;
  margin: 1.5rem;
}

#login_content-title {
  color: #595A5C;
}

#gmail_login-button {
  display: flex;
  width: 100%;
  margin: 1.5rem 0;
  border-radius: 30px; 
  background: none;
  border: 1.5px solid gray;
  justify-content: center;
  align-items: center;
}

#gmail_login-logo {
  height: 2.5rem;
  padding: 8px;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login_divider {
  display: flex;
  width: 100%;
  margin: 1.5rem 0;
  justify-content: center;
  align-items: center;
}

.divider_line {
  width: 30%;
  background-color: gray;
  height: 2px;
}

#divider_text {
  padding: 0 1rem;
  text-align: center;
  font-size: 10px;
  width: 40%;
}

.login_detail-label, .login_details {
  width: 100%;
  margin: 0.4rem 0;
  border-radius: 30px; 
}

.login_details {
  padding-left: 0.7rem;
  height: 2rem;
}

#forgot_password {
  float: right;
  margin: 0.5rem 0;
  color: #5087C7;
}

#login_button {
  width: 100%;
  margin: 1.5rem 0;
  border-radius: 30px; 
  background: #5087C7;
  text-align: center;
  padding: 8px;
  border: none;
  color: white;
}

.navbar-toggle {
  background: #1D2027;
}

#nav_group {
  display: none;
}

.navbar_logo {
  width: 250px;
  background: #1D2027;
  text-align: center;
  padding: 0.8rem;
}

.navbar_logo > img {
  width: 180px;
}

.navbar_user {
  color: white;
  background-color: #292C35;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.navbar_user-logo {
  height: 4rem;
  margin-right: 1rem;
  filter: brightness(100);
}

.nav-menu {
  text-decoration: none;
  background-color: #1D2027;
  width: 250px;
  color: white;
  height: 87.5vh;
}

.nav-menu-items {
  padding-left: 0;
}

.nav-list {
  list-style: none;
  padding: 8px 1px 8px 32px;
  text-decoration: none;
  color: white;
}

.nav-list:hover {
  background-color: #5086C6;
}

.nav_list-logo {
  height: 17px;
  margin: 0 1.5rem 3px 0;
}

.learning_course-icon {
  height: 1.5rem;
  margin: 0 1rem 4px 0;
}

.assessment_icon {
  height: 1.4rem;
  margin: 0 1.1rem 4px 0;
}

.module_library {
  height: 1.4rem;
  margin: 0 1.32rem 4px 0;
}

.teams_icon, 
.users_icon, 
.reports_icon, 
.profile_icon, 
.help_feedback-icon,
.whats_new-icon {
  filter: brightness(100);
  height: 1.2rem;
  width: 1.3rem;
  margin: 0 1.32rem 4px 0;
}

.nav-text {
  color: white;
  text-decoration: none;
  list-style: none;
}

.invite_user-icon {
  width: 2em;
  margin-bottom: 4px;
}

.users_component-nav {
  display: flex;
  width: 177.8vh;
  align-items: center;
  justify-content: flex-end;
  height: 2rem;
  background-color: #5086C6;
}

.users_component-nav > a {
  font-size: 12px;
  color: white;
  text-decoration: none;
  margin-right: 2rem;
}

.user_table-container {
  margin: 1rem;
}

.user_table-container > span {
  display: inline-block;
  margin-top: 5px;
}

.invite_user-button {
  display: inline-block;
  float: right;
  width: 130px;
  height: 30px;
}

.users_table-divider {
  margin-top: 1rem;
  width: 100%;
  height: 1px;
  background: gray;
}

.select_name {
  display: inline-block;
  margin-top: 1rem;
  width: 150px;
}

.table-head {
  background-color: #5086C6;
  color: white;
}

.search {
  display: inline-block;
  margin-left: 2rem;
  width: 300px;
}

.table_user-prof-photo {
  height: 2rem;
  margin-right: 0.6rem;
  margin-left: 0.5rem;
}

.view_icon {
  height: 2.3rem;
}

.update_icon {
  height: 1.3rem;
}

.delete_icon {
  height: 1.25rem;
}